/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 20px;
    overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}

.logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Стили формы */
form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.form-control,
.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn {
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #1e90ff;
    border: none;
}

.btn-primary:hover {
    background-color: #1c86ee;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
    .logo {
        max-width: 120px;
    }

    h1 {
        font-size: 24px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-control,
    .form-select {
        font-size: 14px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 12px;
    }
}
